@page "/confirm"
@using AutoMapper
@using SodaShared.Models
@using SodaShared.Models.Data
@inject Supabase.Client client
@inject IMapper mapper

<div class="container">
    <h1 class="text-center">Confirm Your Order!</h1>

    @if (Purchase != null)
    {
        <div class="row">
            <div class="col-md-8">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Item</th>
                        </tr>
                    </thead>
                    <tbody>
                    <td>
                        <ul>
                                @foreach (var item in Purchase.PurchaseItems)
                                {
                                <li>
                                        @item.Base.Price.ToString("C") - @item.Name
                                        @if (item.AddOns != null && item.AddOns.Any())
                                        {
                                        <ul>
                                                @foreach (var addon in item.AddOns)
                                                {
                                                <li>@addon.Price.ToString("C") - @addon.Name</li>
                                                }
                                        </ul>
                                        }
                                </li>
                                }
                        </ul>
                    </td>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <div class="card mb-1">
                    <div class="card-body">
                        <h5 class="card-title">Order Summary</h5>
                        <div class="total-price">
                            <span>Subtotal:</span>
                            <span class="float-end">@Purchase.SubTotal?.ToString("C")</span>
                        </div>
                        <div class="total-price">
                            <span>Tax:</span>
                            <span class="float-end">@Purchase.TaxCollected?.ToString("C")</span>
                        </div>
                        <div class="total-price">
                            <span>Total Price:</span>
                            <span class="float-end">@TotalPrice?.ToString("C")</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <iframe class="my-2" style="height: 100vh; width: 100%;" scrolling="no" src="/checkout.html?intent=@Intent#payment-form"></iframe>
            </div>
        </div>
    }
    else
    {
        <h3>Loading...</h3>
    }
</div>


@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public string Intent { get; set; }
    [Parameter]
    [SupplyParameterFromQuery]
    public int OrderId { get; set; }
    [Parameter]
    public Purchase Purchase { get; set; }
    public Decimal? TotalPrice { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var purchase = await client.From<PurchaseWithItemsAndAddOnsData>()
        .Where(p => p.Id == OrderId)
        .Single();
        Purchase = mapper.Map(purchase, Purchase);
        TotalPrice = Purchase.SubTotal + Purchase.TaxCollected;
    }
}
